{
  "extends": ["sea"],
  "env": {
    "jest": true
  },
  "rules": {
    "no-use-before-define": "warn",
    "no-shadow": "warn",
    "no-underscore-dangle": ["error", { "allowAfterThis": true }]
  }
}
